# ==========================================
# Telegram Video Downloader & Cleaner Bot
# ==========================================

# 1. Telegram Bot Token (@BotFather dan olingan)
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# 2. Xavfsizlik: Admin Telegram User ID lar (vergul bilan ajrating)
ADMIN_IDS=5787141744

# 3. Telegram API ma'lumotlari (my.telegram.org dan olinadi)
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# 4. Doimiy StringSession (Server qayta ishga tushganda ham akkauntni butun umrga saqlab qoladi)
# Botga bir marta ulangandan so'ng bot avtomatik to'ldiradi
USER_SESSION_5787141744=
